.Navi__page{
    width: 1300px;
    margin: auto;
}

.Navi__count{
    height: 10px;
}

.Navi__ads{
    width: 100px;
    padding-top: 15px;
    padding-left: 15px;
}

.Navi__addItems{
    width: 125px;
    padding-top: 15px;
    padding-left: 20px;
}

.Navi__ads_add{
    padding-left:180%;
    float: right;
    display: flex;
}

.Navi__button{
    display: flex;
    width: 300px;
}
